# App
APP_URL="https://ais-dev-vcdwhyhqq2dwxeqlgumxfx-502438198031.europe-west2.run.app"


# Database (Supabase)
DATABASE_URL="postgresql://postgres.ljyqpxzfbhmecehmsjqi:Mena%4085264f@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require"


# Security
AUTH_PEPPER="692be222926359a1b825fb63f547812e6f235d7a3ef27e0e2057ebec80a907da"
JWT_ACCESS_TOKEN_SECRET="m9K2s9Qx8F3kL0vWz7pQe2JdYxA1bC6N4R5T8U0="
REFRESH_TOKEN_SECRET="b01b5f54c72f98ffb923c4dbb22c4d2838eded35726ea7f21da030c9fa51e6d52aabdcd2eb999b3444224bca57dfa57fe2092a67ae6da872e26b232a811d7ba7"

# OAuth (Google)
GOOGLE_CLIENT_ID="189010039916-h1u8e4a75b0m3fu73putdrcdeqr71ac5.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

# AI
CLAUDE_API_KEY="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"

# External APIs
NEWS_API_KEY="1a7cd611778e4b13a8c379d0cbf19d9c"
EXCHANGERATE_API_KEY="3a3103160d76be239fb9779c"

# Cache (Upstash Redis)
UPSTASH_REDIS_URL="https://clear-crawdad-58186.upstash.io"
UPSTASH_REDIS_TOKEN="AuNKAAIgcDI0jodQjVLG4hRodIrw7so1kAAhQNQamczqHT-I89M_oQ"
